    <% include partials/headCliente %>


     <!-- HEADER -->
    <header id="header" align="center">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4" align="right"> 
                        <img src="/img/ds.jpg"  style="width:100%;"> 
                </div>
                <div class="col-md-8">
                        <h1 class="display-4">WHAT IS GAMES4GAMERS?</h1>
                        <p>Games4Gamers is a distribution platform selling games, ebooks, software, and other digital content. Since Humble's founding in 2010, our mission has been to support charity ("Humble") while providing awesome content to customers at great prices ("Bundle"). We started by offering only game bundles, but have branched out to include an online storefront, a monthly subscription service, a publishing initiative, and lots more.</p>
                        <a href="" class="btn btn-outline-dark btn-lg mt-2">Read More</a>
                </div>
            </div>
        </div>
    </header>


<div class="charity-grid">
    <header id="header" align="center">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                        <h1 class="display-4">Support</h1>
                         <a href="https://bethesda.net/es/dashboard" target="_blank" >
                            <div class="charity-item">
                                <div class="charity-image-wrapper">
                                    <img src="http://i.imgur.com/6nVKsyX.png" alt="Games Aid" style="width:200%;">
                                 </div>
                            </div>
                        </a>
                        <a href="http://wish.org/" target="_blank" rel="nofollow">
                        <div class="charity-item">
                            <div class="charity-image-wrapper">
                            <img src="https://humblebundle-a.akamaihd.net/static/hashed/c237c7eba9357037849dd4b47a27c198fce37013.png" alt="Make A Wish">
                            </div>
                        </div>
                        </a>                        
                </div>
            </div>
        </div>
    </header>
</div>
    <!--
   INFO ONE  
   <section id="info-one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info-left">
                    <img src="https://i1.wp.com/starpetsupp.com/wp-content/uploads/2017/11/Gatito-En-Png.png?ssl=1" style="width: 100%;">
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <div class="info-right">
                        <h2></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eaque quos architecto adipisci vitae optio dolorum a vel delectus voluptates magnam dolor exercitationem tenetur, ullam et dolores vero voluptatibus quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repellat quae soluta ipsam! Quidem eligendi tempore blanditiis itaque quis amet, mollitia molestias, odio nemo veritatis quas? Consequuntur consequatur voluptatum quaerat.</p>
                        <a href="" class="btn btn-outline-dark btn-lg mt-2">Read More</a>
                </div>
            </div>
        </div>
    </div>
   </section>

     INFO TWO 
   <section class="info-two" style="background:#e7e7e7;">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, natus voluptas! Voluptate quo eveniet fuga, fugiat sint, id veniam deserunt veritatis fugit ratione atque numquam, praesentium soluta cupiditate sunt magni?</p>
            </div>
            <div class="col-md-6">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, natus voluptas! Voluptate quo eveniet fuga, fugiat sint, id veniam deserunt veritatis fugit ratione atque numquam, praesentium soluta cupiditate sunt magni?</p>
            </div>
        </div>
    </div>
   </section>-->

</body>
</html>
