    <% include partials/headAdmin %>


     <!-- HEADER -->
    <header id="header" align="center">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4" align="right"> 
                        <img src="/img/logo.png"  style="width:50%;"> 
                </div>
                <div class="col-md-8">
                        <h1 class="display-4">WHAT IS GAMES4GAMERS?</h1>
                        <p>Games4Gamers is a distribution platform selling games, ebooks, software, and other digital content. Since Humble's founding in 2010, our mission has been to support charity ("Humble") while providing awesome content to customers at great prices ("Bundle"). We started by offering only game bundles, but have branched out to include an online storefront, a monthly subscription service, a publishing initiative, and lots more.</p>
                        <a href="" class="btn btn-outline-dark btn-lg mt-2">Read More</a>
                </div>
            </div>
        </div>
    </header>


<div class="charity-grid">
    <header id="header" align="center">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                        <h1 class="display-4">Support</h1>
                         <a href="https://bethesda.net/es/dashboard" target="_blank" >
                            <div class="charity-item">
                                <div class="charity-image-wrapper">
                                    <img src="http://i.imgur.com/6nVKsyX.png" alt="Games Aid" style="width:200%;">
                                 </div>
                            </div>
                        </a>
                        <a href="http://wish.org/" target="_blank" rel="nofollow">
                        <div class="charity-item">
                            <div class="charity-image-wrapper">
                            <img src="https://humblebundle-a.akamaihd.net/static/hashed/c237c7eba9357037849dd4b47a27c198fce37013.png" alt="Make A Wish">
                            </div>
                        </div>
                        </a>                        
                </div>
            </div>
        </div>
    </header>
</div>


</body>
</html>
