<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!--BOOSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--CSS -->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
 


    <div class="container mt-12">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <i id="loGame" class="fas fa-dice"></i> <a class="navbar-brand" href="/home">Gaming4Gamers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </nav>
    </div>

    <div class="container">
        <div id="box" class="card text-center mt-2">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span>Identify yourself</h1>
                <a href="/login" class="btn btn-dark"> <span class="fa fa-user"></span> LOCAL LOGIN</a>
                <a href="/signup" class="btn btn-dark"> <span class="fa fa-user"></span> LOCAL SIGNUP</a>
            </div>
                <div class="card-body">
                    <a href="/loginAdm" class="btn btn-dark"> <span class="fa fa-user"></span> ADMIN LOGIN</a>
                </div>
        </div>
    </div>


</body>
</html>